@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    font-family: "Dosis",
        sans-serif;
    letter-spacing: 1px;
}


.scrolltype::-webkit-scrollbar {
    background: #e6e6e6;
    height: 5px;
    border-radius: 1rem;
}


.scrolltype::-webkit-scrollbar-thumb {
    background: #10537D;
    /* outline: 1px solid slategrey; */
    border-radius: 1rem;
    width: 1rem;
}

