@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
}

.scrolltype::-webkit-scrollbar {
  background: #e6e6e6;
  height: 5px;
  border-radius: 1rem;
}

.scrolltype::-webkit-scrollbar-thumb {
  background: #10537d;
  /* outline: 1px solid slategrey; */
  border-radius: 1rem;
  width: 1rem;
}

.green_line::after {
  content: '';
  height: 1px;
  width: 14rem;
  background-color: #3cb371;
  position: absolute;
  top: 7rem;
  right: -9rem;
}
.green_line:last-child::after {
  display: none;
}

@media (max-width: 640px) {
  .green_line::after {
    display: none;
  }
}

button {
  transition: all 150ms ease-in;
}
button:hover {
  transform: scale(1.05);
}
