.homepage {
    // html{
    //     font-size: 32px !important;
    //     /* This line will prevent font size changes between orientation. */
    //     text-size-adjust: 100% !important;

    //     @media only screen and (max-width: 768px) {
    //         font-size:28px !important;
    //     }

    //     @media only screen and (max-width: 480px) {
    //         font-size: 28px !important;
    //     }
    // }

    // *,
    // *::before,
    // *::after {
    //     box-sizing: border-box;
    // }

    // body {
    //     margin: unset !important;
    // }

    // body {
    //     background: #fff;
    //     font-size: 1.7rem !important;
    //     font-family: 'Dosis',
    //     sans-serif !important;
    // }

    // a {
    //     display: inline-block;
    //     color: inherit;
    //     text-decoration: none;
    // }

    // button {
    //     border:inherit !important;
    //     background: unset !important;
    //     font-family: 'Dosis',
    //     sans-serif !important;
    //     cursor: unset !important;
    // }

    // h1,
    // h2,
    // h3,
    // h4 {
    //     line-height: unset !important;
    // }

    // h1 {
    //     font-size: unset !important;
    // }

    // h2 {
    //     font-size: unset !important;
    // }

    // h3 {
    //     font-size: unset !important;
    // }

    // h4 {
    //     font-size: unset !important;
    // }

    // hr {
    //     height: 0.1rem;
    //     border: 0;
    // }

    // span,
    // p {
    //     padding: 0;
    //     line-height: unset !important;
    // }

    // p {
    //     color: unset !important;
    //     font-size: unset !important;
    // }

    // main {
    //     z-index: 1;
    //     width: unset !important;
    //     max-width: unset !important;
    //     margin: unset !important;
    //     padding: unset !important;
    //     overflow-wrap: break-word;
    // }

    // img {
    //     background: unset !important;
    // }

    // summary {
    //     line-height: 150%;
    // }

    // form,
    // section {
    //     width: unset !important;
    //     margin:unset !important;
    // }

    * {
        font-family: 'Dosis', sans-serif;
        letter-spacing: 1px;
    }

    .scrolltype::-webkit-scrollbar {
        background: #e6e6e6;
        height: 5px;
        border-radius: 1rem;
    }

    .scrolltype::-webkit-scrollbar-thumb {
        background: #10537d;
        /* outline: 1px solid slategrey; */
        border-radius: 1rem;
        width: 1rem;
    }

    .green_line::after {
        content: '';
        height: 1px;
        width: 14rem;
        background-color: #3cb371;
        position: absolute;
        top: 7rem;
        right: -9rem;
    }

    .green_line:last-child::after {
        display: none;
    }

    @media (max-width: 640px) {
        .green_line::after {
            display: none;
        }
    }

    button,
    a {
        display: inline-block !important;
        transition: all 150ms ease-in !important;
    }

    button:hover,
    a:hover {
        transform: scale(1.05);
    }

    .animatedWithMouse {
        position: relative;
        transform: perspective(0);
        transform-style: preserve-3d;
    }

    .animatedText * {
        font-weight: bold;
        font-size: 1.2rem;
    }

}